.header-attraction
    h1.none Куда сходить в Бурятии
    p 
        a.goTable(href="table.html") Таблица
.attraction-container
    .attraction-1
        img(src="img/attraction.jpg")
        h2 Иволгинский дацан
    .attraction-2
        img(src="img/transbaikal-national-park.jpg")
        h2 Забайкальский национальный парк
    .attraction-3
        img(src="img/ethnographic-complex-tarbagatai.jpg")
        h2 Этнографический комплекс "Тарбагатай" 
    .attraction-4
        img(src="img/barguzin-valley.jpg")
        h2 Баргузинская долина 
    .attraction-5
        img(src="img/holy-nose-peninsula.jpg")
        h2 Полуостров "Святой нос" 
    .attraction-6
        img(src="img/peak-of-love.jpg")
        h2 Пик любви
    .attraction-7
        img(src="img/museum-of-the-history-of-buryatia.jpg")
        h2 Музей истории Бурятии
    .attraction-8
        img(src="img/lake-baikal.jpg")
        h2 Озеро Байкал
    .attraction-9
        img(src="img/mother.jpg")
        h2 Мать "Бурятия"