.header-climate
   h1 Природа и климат Бурятии
.climate-container
    h2 Природа, растения и климат Бурятии
    .climate-1
        .text-climate. 
            Бурятия – один из красивейших регионов Восточной Сибири, край гор и степей. Природа Бурятии отличается поразительным разнообразием, 
            в котором красота озера Байкал органично сочетается с бескрайними таежными пространствами, широкими реками и снежными вершинами Саянских горных хребтов.
            Рельеф местности преимущественно горный. Самой высокой точкой в Восточных Саянах является гора Мунку-Садык, расположенная на границе с Монголией. Бурятия соседствует
            с республиками Монголией, Тывой, а также граничит с Иркутской областью и Забайкальским краем.
            На территорию Бурятии приходится основная часть (примерно 60 процентов береговой линии) крупнейшего на планете пресноводного озера Байкал, обладающего
            статусом «Всемирного Наследия» ЮНЕСКО.
        .image-climate
            img(src="img/Burytiya_1-380x365.jpg")
            img(src="img/Burytiya_2-500x333.jpg")

    h2 Растительный мир Бурятии
    .climate-1
        .text-climate.
            Среди природных зон республики можно выделить степную, 
            лесостепную, тайгу, высотную поясность, а также тундру. При
            этом переходы от одной природной зоны к другой плавные, поэтому
            выделить их четкие границы невозможно.
            Основную часть всей территории Бурятии занимает горная тайга. Среди деревьев здесь преобладают сосны, 
            ели, кедры, лиственница, пихта, березы, осины и тополя. По склонам гор поднимаются многочисленные кустарники.
            Весной среди просыпающейся тайги начинает цвести розовато-фиолетовым цветом багульник (рододендрон даурский). 
            В летнее время леса и горы, а особенно горные плато Бурятии пестреют цветами. Здесь можно встретить целые поляны, покрытые оранжевыми, 
            огненно-красными и ярко-желтыми лилиями удивительной красоты.
        .image-climate
            img(src="img/Burytiya_10-500x332.jpg")
    h2 Климат Бурятии
    .climate-1
        .text-climate.
            Республика Бурятия отличается резко континентальным климатом. Зимы здесь прохладные, малоснежные, с сухими морозами. Весна холодная, 
            ветреная, солнечные, с заморозками и практически без осадков. Непродолжительное лето характеризуется сменой засушливой и дождливой погодой,
            жаркими солнечными днями и прохладными ночами. Наступление осени происходит незаметно, без резких погодных перепадов с ее приходом лиственная
            тайга приобретает золотистый цвет. Сама осень, как правило, теплая, ясная, тихая, холодает только во второй половине октября.
            Средняя июльская температура в Бурятии - + 18,5 градусов Цельсия, средняя температура в январе -22 градуса. На большей части территории 
            Бурятии хорошо отслеживается вертикальная поясность, температура и количество выпадающих здесь осадков разнится в зависимости от высоты.
            Для всей республики характерен соответствующий южным российским регионам продолжительный период солнечного сияния.
        .image-climate
            img(src="img/Burytiya_11-520x292.jpg")
