.header-dishes
    h1 Национальные блюда Бурятии
.dishes-container 
    .dishes-1
        img(src="img/dishes1.jpg")
        h2 Буззы
    .dishes-2
        img(src="img/dishes2.jpg")
        h2 Бухлёр
    .dishes-3
        img(src="img/dishes3.jpg")
        h2 Хушуур
    .dishes-4
        img(src="img/dishes4.jpg")
        h2 Орёомог
    .dishes-5
        img(src="img/dishes5.jpg")
        h2 Саламат 
    .dishes-6
        img(src="img/dishes6.jpg")
        h2 Шулэн