ul
    li 
        a(href="#") Главная
    li 
        a(href="#HISTORY") История Бурятии
    li 
        a(href="#ATTRACTION") Достопримечательности
    li
        a(href="#DISHES") Национальные блюда
    li 
        a(href="#NATURE") Природа и климат
    li 
        a(href="table.html") Таблица